.food-display {
    margin-top: 30px;
}

.food-display h2 {
    font-size: max(2vw, 2.4rem);
    font-weight: 600;
}

.food-display-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
}

.food-display-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.food-display-header select {
    padding: 0.4rem 1.2rem 0.4rem 0.8rem;
    font-size: 1.4rem;
    border-radius: 13px;
    border: 2px solid #ccc;
    margin-right: 20px;
}